zhconv==1.4.3
editdistance
sacrebleu==1.5.1
whisper_normalizer
langdetect
immutabledict
sqlglot
treelib
loguru
func_timeout
regex==2024.4.16
nltk==3.8.1
sqlparse==0.5.1
json_repair==0.39.1
word2number
latex2sympy2
cn2an
python-Levenshtein
ujson
fastapi
zmq
pybase64
sanic
rouge_chinese
jieba